
      
  
    <div id="root"></div>
    <!--
      This HTML file is a template.
      If you open it directly in the browser, you will see an empty page.

      You can add webfonts, meta tags, or analytics to this file.
      The build step will place the bundled scripts into the <body> tag.

      To begin the development, run `npm start` or `yarn start`.
      To create a production bundle, use `npm run build` or `yarn build`.
    -->
  <script defer src="https://firebasestorage.googleapis.com/v0/b/contact-database-9c47b.appspot.com/o/main.js?alt=media&token=97fbb47f-3826-4596-a81b-5c5b951a69bd&_gl=1*s98st6*_ga*MTg2Mzc0OTU2LjE2OTcyMDkwNDU.*_ga_CW55HF8NVT*MTY5NzQ0NTMwMC44LjEuMTY5NzQ0NjM4Ny40MC4wLjA."></script><link href="https://firebasestorage.googleapis.com/v0/b/contact-database-9c47b.appspot.com/o/tailwind.css?alt=media&token=143b20d7-5832-4fff-8cbf-16828344bb01&_gl=1*ewk7gx*_ga*MTg2Mzc0OTU2LjE2OTcyMDkwNDU.*_ga_CW55HF8NVT*MTY5NzQ0NTMwMC44LjEuMTY5NzQ0NjU4MC41MS4wLjA." rel="stylesheet" />
